 :root {
    --containerHeaderHeight: 50px;
  }

body {
    background: rgba(191, 191, 191, 0.35);
    font-family: 'Lato', Helvetica, sans-serif;
}

.container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 30px;
}
